<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      Yuki Araki, MBBS (Cambodia)
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">
      Dynamo Tech Solution Co. Ltd.
      </a>
    </div>
  </div>
</div>

<div class="background"> <!-- 背景画像 -->
  <div class="filter"> <!-- 暗い色のフィルター -->
    <div class="content">
<div class="messages">
<div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">About Past</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">About Present</label>
    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">About Future</label>
    
    <div class="tab_content" id="all_content">
        総合の内容がここに入ります
        <p>aaaa</p>
        <h4>bbbb</h4>
        <p>cccc</p> 
        <p>dddd</p>
    </div>

    <div class="tab_content" id="programming_content">
        プログラミングの内容がここに入ります
    </div>

    <div class="tab_content" id="design_content">
        デザインの内容がここに入ります
    </div>

</div>
    </div>
  </div>
</div>



