<div class="chat-header">

  <div class="left-header">
        <img src="/assets/araki.jpg" alt="" width="90" height="90">
  </div>

  <div class="middle-header">
    <div class="header-title">
      Yuki Araki (29)
    </div>
  </div>

  <div class="right-header">
    <div class="header-button">
      <a href="#">
      <img src="/assets/images.jpeg" alt="" width="90" height="90">
      </a>
    </div>
  </div>
</div>

<div class="background"> <!-- 背景画像 -->
  <div class="filter"> <!-- 暗い色のフィルター -->
    <div class="content">
     <div class="messages">
      <div class="tabs">
       <input id="intro" type="radio" name="tab_item" checked>
       <label class="tab_item" for="intro">Introduction</label>

       <input id="all" type="radio" name="tab_item" checked>
       <label class="tab_item" for="all">About Past</label>

       <input id="programming" type="radio" name="tab_item">
       <label class="tab_item" for="programming">About Present</label>

       <input id="design" type="radio" name="tab_item">
       <label class="tab_item" for="design">About Future</label>

       <input id="concl" type="radio" name="tab_item">
       <label class="tab_item" for="concl">Conclusion</label>

    <div class="tab_content" id="intro_content">
     <img src="/assets/araki1.JPG" alt="" width="250" height="350" align="right">
      <h1> ハロー・ワールド <h1>
      <h4> 荒木 佑宜と申します <h4>
      <h1> Hello. World. <h1>
      <h4> My name is YUKI Araki. <h4>
      <h1> សួស្តី ! ពិភពលោក <h1>
      <h4>  ខ្ញុំ​ ឈ្មោះ​ យូគី អារ៉ាគី <h4>
    </div>

      <div class="tab_content" id="all_content">
       <p>
       <img src="/assets/bond.jpeg" alt="" width="450" height="250" align="right">
       <br> <h2> Bond University (Australia) 2011-2014 <h2>
       <h4> - Studing English for Academic Purpose</h4>
       <h4> - Graduated a Bachelor of Health Science in Aug 2014</h4>
       <br clear="right">
       </p>

       <p>
       <img src="/assets/uq.jpeg" alt="" width="450" height="250" align="right">
       <br> <h2> The University of Queensland (Australia) 2015-2016<h2>
       <h4> - Specialised in Clincial Epidemiology and Biostatistics</h4>
       <h4> - Using R commander and STATA for any statistical analysis</h4>
       <br clear="right">
       </p>
      
       <p>
       <img src="/assets/ifl.jpeg" alt="" width="450" height="250" align="right">
       <br> <h2> Institute of Foreign Language (Cambodia) 2016-2017 <h2>
       <h4> - Specialised in Clincial Epidemiology and Biostatistics</h4>
       <h4> - Studying a Khmer Language to Academic or Business Level</h4>
       <br clear="right">
       </p>
    </div>

    <div class="tab_content" id="programming_content">
        <p>
        <img src="/assets/iu.jpeg" alt="" width="450" height="250" align="right">
        <br> <h2> International University (Cambodia) 2018~<h2>
        <h4> - Studying a Medical Science (anticipated in 2024)</h4>
        <h4> - Clinical Placements in PP Public Hospitals </h4>
       <br clear="right">
        </p>

        <p>
        <img src="/assets/nihas.JPG" alt="" width="450" height="250" align="right">
        <h2> Nihashi Industry Co. Ltd. 2020~<h2>
        <h4> - Creating Graphic Designs and Commercial Photography and Videography</h4>
        <h4> - Translating and Teaching Languages (JP EN KH) </h4>
       <br clear="right">
        </p>

        <p>
        <img src="/assets/dynamo.JPG" alt="" width="450" height="250" align="right">
        <h2> Dynamo Tech Solution Co. Ltd. 2022~<h2>
        <h4> - Training in Ruby on Rails and Javascripts (jQuery, Node.js,Typescripts...) </h4>
       <br clear="right">
        </p>
    </div>

    <div class="tab_content" id="design_content">
        <p>
        <img src="/assets/araki3.JPG" alt="" width="400" height="250" align="right">         
        <h1> Working as a Medical Doctor/Specialist <h1>
        <h4> - Specialised in Orthopedic Medicine</h4>
        <h4> - Distributing Japanese Harbal Medicines in Cambodia</h4>
       <br clear="right">
        </p>

        <p>
        <img src="/assets/araki2.jpg" alt="" width="400" height="250" align="right">         
        <h1> Working as an IT officer <h1>
        <h4> - Specialised in Web Programmings and Ruby on Rails </h4>        
        <h4> - Involving in Medical and IT industories such as AI Medical Imaging, Improving a Hospital Inventory Managements, Matching in Healthcare, e-Health, m-Health...</h4>
       <br clear="right">
        </p>

    <p>
        <img src="/assets/araki4.jpg" alt="" width="300" height="250" align="right">         
        <h1> Working as a Researcher/Lecturer <h1>
        <h4> - Research Higher Degree in Pulic Health fields including previous knowledges and experiences in epidemiology and biostatistics</h4> 
          <br clear="right">
        </p>
    </div>

    <div class="tab_content" id="concl_content">
        <h1> Tips 1: Research. Research. Research. <h1>
        <h4> -  Research can find answers to things that are unknown, filling gaps in knowledge and changing the way that professionals work. </h4>       
        <h1> Tips 2: Be a part of community members <h1>
        <h4> -  Incorporated into decision-making processes, public decision makers are better informed and better able to meet community needs. </h4>  
        <h1> Tips 3: Not One Step Back <h1>
        <h4> - We learn a lot when we keep going and decide not to give up. We can learn that there are hidden strength and potentials within us. We learn how to keep ourselves motivated. More importantly, we decide not to give up, and we learn how we can effectively convert our failures to success. </h4> 
    </div>

</div>
    </div>
  </div>
</div>

