<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      Yuki Araki, MBBS (Cambodia)
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">
      <img src="/assets/images.jpeg" alt="" width="90" height="90">
      </a>
    </div>
  </div>
</div>

<div class="background"> <!-- 背景画像 -->
  <div class="filter"> <!-- 暗い色のフィルター -->
    <div class="content">
<div class="messages">
<div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">About Past</label>

    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">About Present</label>

    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">About Future</label>
    
    <div class="tab_content" id="all_content">
        <h2> Bond University (Australia)<h2>
        <h4> - Studing English for Academic Purpose</h4>
        <h4> - Graduated a Bachelor of Health Science in Aug 2014</h4>
        <h2> The University of Queensland (Australia)<h2>
        <h4> - Specialised in Clincial Epidemiology and Biostatistics</h4>
        <h4> - Using R commander and STATA for any statistical analysis</h4>
        <h2> Institute of Foreign Language (Cambodia)<h2>
        <h4> - Studying a Khmer Language to Academic or Business Level</h4>
    </div>

    <div class="tab_content" id="programming_content">
        <h2> International University (Cambodia)<h2>
        <h4> - Studying a Medical Science (anticipated in 2024)</h4>
        <h4> - Clinical Placements in PP Public Hospitals </h4>
        <h2> J Trust Royal Bank/Nihashi Industry Co. Ltd. <h2>
        <h4> - Creating Graphic Designs and Commercial Photography and Videography</h4>
        <h4> - Translating and Teaching Languages (JP EN KH) </h4>
        <h2> Dynamo Tech Solution Co. Ltd. <h2>
        <h4> - Training in Ruby on Rails and Javascripts (jQuery, Node.js,Typescripts...) </h4>
    </div>

    <div class="tab_content" id="design_content">
        <h1> Working as a Medical Doctor/Specialist <h1>
        <h4> - Specialised in Orthopedic Medicine</h4>
        <h4> - Distributing Japanese Harbal Medicines in Cambodia</h4>         
        <h1> Working as an IT officer <h1>
        <h4> - Specialised in Web Programmings and Ruby on Rails </h4>        
        <h4> - Involving in Medical and IT industories such as AI Medical Imaging, Improving a Hospital Inventory Managements, Matching in Healthcare, e-Health, m-Health...</h4>
        <h1> Working as a Researcher/Lecturer <h1>
        <h4> - Research Higher Degree in Pulic Health fields including previous knowledges and experiences in epidemiology and biostatistics</h4> 
    </div>

</div>
    </div>
  </div>
</div>


